<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="content-container">
      {{ content }}
    </div>

    {% include footer.html %}
    <script type="text/javascript">
    console.log("Hello");
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "aud77-20";
    amzn_assoc_linkid = "08e4b1ce4a553d8f50579cf9f46a417d";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
  </body>
</html>
